@include keyframes(horz-trans-1){
	0%{
		transform: translate(0px);
        animation-timing-function: ease-in;
	}
	50%{
		transform: translate(20vw);
        animation-timing-function: ease-out;
	}
	100%{
		transform: translate(0px);

	}
}
@include keyframes(horz-trans-2){
	0%{
		transform: translate(0px);
        animation-timing-function: ease-in;
	}
	50%{
		transform: translate(30vw);
        animation-timing-function: ease-out;
	}
	100%{
		transform: translate(0px);
	}
}
@include keyframes(vert-trans-1){
	0%{
		transform: translate(0px, 0px);
        animation-timing-function: ease-in;
	}
	50%{
		transform: translate(0, 20vh);
        animation-timing-function: ease-out;
	}
	100%{
		transform: translate(0px, 0px);
	}
}
@include keyframes(vert-trans-2){
	0%{
		transform: translate(0px, 0px);
        animation-timing-function: ease-in;
	}
	50%{
		transform: translate(0, 50vh);
        animation-timing-function: ease-out;
	}
	100%{
		transform: translate(0px, 0px);
	}
}
.background{
	position: absolute;
	z-index: -10;
	opacity: .8;	
	div{
		z-index:-10;
	}
	.vert-1{
		position: absolute;
		height: 100vh;
		width: 10vw;
		background: #FFF;
		opacity:.2;
		@include animation('horz-trans-1 8s infinite')
	}
	.vert-2{
		position: absolute;
		left: 20vw;
		height: 100vh;
		width: 7vw;
		background: #000;
		opacity: .2	;
		@include animation('horz-trans-2 10s infinite')

	}
	.vert-3{
		position: absolute;
		left: 37vw;
		height: 100vh;
		width: 13vw;
		background: $sidebar;
		opacity: .5;
		@include animation('horz-trans-1 10s infinite')

	}
	.vert-4{
		position: absolute;
		left: 55vw;
		height: 100vh;
		width: 4vw;
		background: #FFF;
		opacity: .2	;
		@include animation('horz-trans-1 7s infinite')

	}
	.vert-5{
		position: absolute;
		left: 70vw;
		height: 100vh;
		width: 8vw;
		background: $sidebar;
		opacity: .5	;
		@include animation('horz-trans-1 4s infinite')

	}
	.horz-1{
		position: absolute;
		top: 40vw;
		height: 2vh;
		width: 100vw;
		background: #FFF;
		opacity: .5;
		@include animation('vert-trans-1 5s infinite')
	}
	.horz-2{
		position: absolute;
		top: 18vw;
		height: 5vh;
		width: 100vw;
		background: #000;
		opacity: .2;
		@include animation('vert-trans-2 7s infinite')

	}
	.horz-3{
		position: absolute;
		top: 2vw;
		height: 10vh;
		width: 100vw;
		background: #FFF;
		opacity: .5;
		@include animation('vert-trans-1 4s infinite')

	}
	.horz-4{
		position: absolute;
		top: 30vw;
		height: 5vh;
		width: 100vw;
		background: $sidebar;
		opacity: .5;
		@include animation('vert-trans-2 10s infinite')

	}
}

