
/* As hex codes */

/* As hex codes */

$background: #EAEAEA;
$sidebar: #B5CCD5;
$main: #DBF6FF;
$Montserrat:'Montserrat', sans-serif;
$body-color: #222;
$basic-border: 5px solid $main;

html{
	overflow:hidden;
	font-size: 14px;
}

body{
	background-color: $background;
	color: $body-color;
	font-family: $Montserrat;
}

#sidebar-wrapper{
	background-color: $sidebar;
	color: $main;	
	font-family: $Montserrat;
	font-size: 1.5em;
}

.sidebar-nav li a{
	color: $main;
}
