<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Terren Sky Krietzman" content="">
	<title>{{ page.title }}</title>
	<!-- FONTS -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">

    <!-- SCRIPTS --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/front.js" type="text/javascript" charset="utf-8" async defer></script>  
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <!--Non-bootstrap styling-->
    <link rel="stylesheet" href="/stylesheets/sass/main.css">
</head>