/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="main, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* As hex codes */
/* As hex codes */
/* line 11, ../../sass/sass/_base.scss */
html {
  overflow: hidden;
}

/* line 15, ../../sass/sass/_base.scss */
body {
  background-color: #4D4D4D;
  background-image: linear-gradient(0deg, transparent 24%, rgba(196, 196, 196, 0.3) 25%, rgba(196, 196, 196, 0.3) 26%, transparent 27%, transparent 74%, rgba(196, 196, 196, 0.3) 75%, rgba(196, 196, 196, 0.3) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(196, 196, 196, 0.3) 25%, rgba(196, 196, 196, 0.3) 26%, transparent 27%, transparent 74%, rgba(196, 196, 196, 0.3) 75%, rgba(196, 196, 196, 0.3) 76%, transparent 77%, transparent);
  background-size: 100px 100px;
  color: #0EAFE9;
  font-family: "Droid Serif", serif;
}

/* line 28, ../../sass/sass/_base.scss */
.grid-title {
  width: 960px;
}

/* line 32, ../../sass/sass/_base.scss */
.content {
  height: 100%;
  background-color: #4D4D4D;
  border: 5px solid #0EAFE9;
}

/* line 38, ../../sass/sass/_base.scss */
.module {
  border: 5px solid #0EAFE9;
  background-color: #4D4D4D;
}

/* line 43, ../../sass/sass/_base.scss */
.footer {
  text-align: center;
}

/* line 47, ../../sass/sass/_base.scss */
.profile {
  height: 350px;
  border: 5px solid #0EAFE9;
  margin-left: 20px;
  margin-top: 20px;
}

/* line 3, ../../sass/sass/_parallax.scss */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}

/* line 10, ../../sass/sass/_parallax.scss */
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}

/* line 19, ../../sass/sass/_parallax.scss */
.parallax-layer-2 {
  transform: translateZ(-4px) scale(5);
}

/* line 23, ../../sass/sass/_parallax.scss */
.parallax-layer-1 {
  transform: translateZ(-1px) scale(2);
}

/* line 27, ../../sass/sass/_parallax.scss */
.parallax-layer-back {
  transform: translateZ(-8px) scale(9);
}

/* line 31, ../../sass/sass/_parallax.scss */
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

/* line 1, ../../sass/sass/_home.scss */
.first {
  width: 900px;
  height: 400px;
  top: 50px;
  left: 250px;
}

/* line 8, ../../sass/sass/_home.scss */
.second {
  width: 900px;
  height: 300px;
  top: 1000px;
  left: 600px;
}
