/*
Error: Invalid CSS after "...css3/font-face"": expected selector or at-rule, was "@import "base";"
        on line 9 of /Users/terren/Sites/tkrietzman.github.io/sass/sass/main.scss

4:  * <link href="/stylesheets/main.css" media="main, projection" rel="stylesheet" type="text/css" /> *\/
5: 
6: @import "compass/reset";
7: @import "compass/css3/box-shadow";
8: @import "compass/css3/font-face"
9: @import "base";
10: @import "parallax";
11: @import "home";

Backtrace:
/Users/terren/Sites/tkrietzman.github.io/sass/sass/main.scss:9
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:43:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `call'
/Library/Ruby/Gems/2.0.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
/Library/Ruby/Gems/2.0.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...css3/font-face\"\": expected selector or at-rule, was \"@import \"base\";\"\A         on line 9 of /Users/terren/Sites/tkrietzman.github.io/sass/sass/main.scss\A \A 4:  * <link href=\"/stylesheets/main.css\" media=\"main, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: @import \"compass/reset\";\A 7: @import \"compass/css3/box-shadow\";\A 8: @import \"compass/css3/font-face\"\A 9: @import \"base\";\A 10: @import \"parallax\";\A 11: @import \"home\";"; }
