@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="main, projection" rel="stylesheet" type="text/css" /> */
/* As hex codes */
/* As hex codes */
/* line 15, ../../sass/sass/_base.scss */
html {
  overflow: hidden;
  font-size: 14px;
}

/* line 20, ../../sass/sass/_base.scss */
body {
  background-color: #E4EFFB;
  color: #222;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

/* line 29, ../../sass/sass/_base.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 34, ../../sass/sass/_base.scss */
#sidebar-wrapper {
  background-color: #456C94;
  color: #E4EFFB;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  padding: 0;
}

/* line 42, ../../sass/sass/_base.scss */
.sidebar-nav li a {
  color: #E4EFFB;
}

/* line 46, ../../sass/sass/_base.scss */
.front-nav {
  font-size: 2em;
  width: 300px;
  position: relative;
  padding: 0;
  list-style: none;
}

/* line 54, ../../sass/sass/_base.scss */
.front-nav li a {
  color: #E4EFFB;
}

/* line 58, ../../sass/sass/_base.scss */
#page-content-wrapper {
  padding: 0;
}

/* line 62, ../../sass/sass/_base.scss */
.realistic {
  padding-left: 25%;
  color: #585858;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 69, ../../sass/sass/_base.scss */
.realistic h1 {
  position: absolute;
  top: 0;
  padding: 0;
  font-size: 4em;
  text-align: right;
  line-height: 1.2em;
}

/* line 79, ../../sass/sass/_base.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(238, 238, 238, 0.3), rgba(238, 238, 238, 0));
  z-index: 99;
  pointer-events: none;
}

/* line 90, ../../sass/sass/_base.scss */
h2 {
  color: #E4EFFB;
  font-size: 6em;
  overflow: hidden;
}

/* line 97, ../../sass/sass/_base.scss */
.square {
  padding-left: 10px;
  position: absolute;
  width: 500px;
  height: 100vh;
  background: #456C94;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* line 1, ../../sass/sass/about.scss */
.bio {
  padding-top: 50px;
}

/* line 3, ../../sass/sass/_parallax.scss */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}

/* line 10, ../../sass/sass/_parallax.scss */
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}

/* line 19, ../../sass/sass/_parallax.scss */
.parallax-layer-2 {
  transform: translateZ(-4px) scale(5);
}

/* line 23, ../../sass/sass/_parallax.scss */
.parallax-layer-1 {
  transform: translateZ(-1px) scale(2);
}

/* line 27, ../../sass/sass/_parallax.scss */
.parallax-layer-back {
  transform: translateZ(-8px) scale(9);
}

/* line 31, ../../sass/sass/_parallax.scss */
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

@-webkit-keyframes horz-trans-1 {
  0% {
    transform: translate(0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(20vw);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px);
  }
}
@-moz-keyframes horz-trans-1 {
  0% {
    transform: translate(0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(20vw);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px);
  }
}
@-o-keyframes horz-trans-1 {
  0% {
    transform: translate(0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(20vw);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes horz-trans-1 {
  0% {
    transform: translate(0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(20vw);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px);
  }
}
@-webkit-keyframes horz-trans-2 {
  0% {
    transform: translate(0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(30vw);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px);
  }
}
@-moz-keyframes horz-trans-2 {
  0% {
    transform: translate(0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(30vw);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px);
  }
}
@-o-keyframes horz-trans-2 {
  0% {
    transform: translate(0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(30vw);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes horz-trans-2 {
  0% {
    transform: translate(0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(30vw);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px);
  }
}
@-webkit-keyframes vert-trans-1 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 30vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes vert-trans-1 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 30vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-o-keyframes vert-trans-1 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 30vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes vert-trans-1 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 30vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes vert-trans-2 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 50vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes vert-trans-2 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 50vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-o-keyframes vert-trans-2 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 50vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes vert-trans-2 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 50vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes vert-trans-3 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 100vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes vert-trans-3 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 100vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-o-keyframes vert-trans-3 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 100vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes vert-trans-3 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, 100vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes vert-trans-3 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, -100vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes vert-trans-3 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, -100vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-o-keyframes vert-trans-3 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, -100vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes vert-trans-3 {
  0% {
    transform: translate(0px, 0px);
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(0, -100vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* line 80, ../../sass/sass/_background.scss */
.background {
  position: absolute;
  z-index: -10;
  opacity: .8;
}
/* line 84, ../../sass/sass/_background.scss */
.background div {
  z-index: -10;
}
/* line 87, ../../sass/sass/_background.scss */
.background .vert-1 {
  position: absolute;
  height: 100vh;
  width: 10vw;
  background: #000;
  opacity: .2;
  -webkit-animation: horz-trans-1 8s infinite;
  -moz-animation: horz-trans-1 8s infinite;
  -o-animation: horz-trans-1 8s infinite;
  animation: horz-trans-1 8s infinite;
}
/* line 95, ../../sass/sass/_background.scss */
.background .vert-2 {
  position: absolute;
  left: 20vw;
  height: 100vh;
  width: 7vw;
  background: #000;
  opacity: 0.2;
  -webkit-animation: horz-trans-2 10s infinite;
  -moz-animation: horz-trans-2 10s infinite;
  -o-animation: horz-trans-2 10s infinite;
  animation: horz-trans-2 10s infinite;
}
/* line 105, ../../sass/sass/_background.scss */
.background .vert-3 {
  position: absolute;
  left: 37vw;
  height: 100vh;
  width: 13vw;
  background: #456C94;
  opacity: .5;
  -webkit-animation: horz-trans-1 10s infinite;
  -moz-animation: horz-trans-1 10s infinite;
  -o-animation: horz-trans-1 10s infinite;
  animation: horz-trans-1 10s infinite;
}
/* line 115, ../../sass/sass/_background.scss */
.background .vert-4 {
  position: absolute;
  left: 55vw;
  height: 100vh;
  width: 4vw;
  background: #FFF;
  opacity: 0.2;
  -webkit-animation: horz-trans-1 7s infinite;
  -moz-animation: horz-trans-1 7s infinite;
  -o-animation: horz-trans-1 7s infinite;
  animation: horz-trans-1 7s infinite;
}
/* line 125, ../../sass/sass/_background.scss */
.background .vert-5 {
  position: absolute;
  left: 70vw;
  height: 100vh;
  width: 8vw;
  background: #456C94;
  opacity: 0.5;
  -webkit-animation: horz-trans-1 4s infinite;
  -moz-animation: horz-trans-1 4s infinite;
  -o-animation: horz-trans-1 4s infinite;
  animation: horz-trans-1 4s infinite;
}
/* line 135, ../../sass/sass/_background.scss */
.background .horz-1 {
  position: absolute;
  top: 20vh;
  height: 2vh;
  width: 100vw;
  background: #456C94;
  opacity: .3;
  -webkit-animation: vert-trans-1 5s infinite;
  -moz-animation: vert-trans-1 5s infinite;
  -o-animation: vert-trans-1 5s infinite;
  animation: vert-trans-1 5s infinite;
}
/* line 144, ../../sass/sass/_background.scss */
.background .horz-2 {
  position: absolute;
  top: 18vh;
  height: 5vh;
  width: 100vw;
  background: #000;
  opacity: .2;
  -webkit-animation: vert-trans-3 12s infinite;
  -moz-animation: vert-trans-3 12s infinite;
  -o-animation: vert-trans-3 12s infinite;
  animation: vert-trans-3 12s infinite;
}
/* line 154, ../../sass/sass/_background.scss */
.background .horz-3 {
  position: absolute;
  top: 2vh;
  height: 10vh;
  width: 100vw;
  background: #FFF;
  opacity: .5;
  -webkit-animation: vert-trans-1 4s infinite;
  -moz-animation: vert-trans-1 4s infinite;
  -o-animation: vert-trans-1 4s infinite;
  animation: vert-trans-1 4s infinite;
}
/* line 164, ../../sass/sass/_background.scss */
.background .horz-4 {
  position: absolute;
  top: 30vh;
  height: 5vh;
  width: 100vw;
  background: #FFF;
  opacity: .3;
  -webkit-animation: vert-trans-2 10s infinite;
  -moz-animation: vert-trans-2 10s infinite;
  -o-animation: vert-trans-2 10s infinite;
  animation: vert-trans-2 10s infinite;
}
