<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<!-- Sidebar -->
        <div class=" col-lg-4 sidebar-style" id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/index.html">
                        terren krietzman 
                    </a>
                </li>
                {% for page in site.pages_list %}
                    <li><a href="{{ page[1]  }}">{{ page[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
		{{content}}	

		{% include footer.html%}

	</body>
</html>