<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
<!-- 	{% include footer.html%}

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row row-eq-height">
                        <div class="col-md-6 col-s-12" style=" height: 100%;">                       
                            <div class="realistic">
                               <h1>welcome<br>to the<br>website<br>of</h1>
                            </div>
                        </div>
                        <div class="col-md-6 col-s-12" style="padding-left:0;">
                            <div class="square">          
                                <h2>terren <br> sky <br> krietzman</h2>
                                <ul class="sidebar-nav front-nav">        
                                    {% for page in site.pages_list %}
                                        <li><a href="{{ page[1]  }}">{{ page[0] }}</a></li>
                                    {% endfor %}
                                  </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        <!-- /#wrapper -->	
    </body>
</html>