<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
<!-- 	{% include footer.html%}
 -->    <div id="wrapper">

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row row-eq-height">
                        <div class="col-md-6 col-s-12" style=" height: 100%;">                       
                            <div class="realistic">
                               <h1>welcome<br>to the<br>website<br>of</h1>
                            </div>
                        </div>
                        <div class="col-md-6 col-s-12" style="padding-left:0;">
                            <div class="square">          
                                <h2>terren <br> sky <br> krietzman</h2>
                                <ul class="sidebar-nav front-nav">        
                                    <li>
                                        <a href="/work/">WORK</a>
                                    </li>
                                    <li>
                                        <a href="/about/">ABOUT</a>
                                    </li>
                                    <li>
                                        <a href="/blog/">BLOG</a>
                                    </li>
                                        <li>
                                        <a href="/contact/">CONTACT</a>
                                      </li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->


        </div>
        <!-- /#wrapper -->	
    </body>
</html>